<% var bodyClass = bodyClass %>
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>

<body class="<%= bodyClass %>">
  <% include ../partials/sidebar.ejs %>
  <% include ../partials/header.ejs %>
  <div class="content-wrapper">
    <%- markdownContent %>

    <% if (hasBreadcrumbs) { %>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="<%- breadcrumbs.prev.url %>">
              <span class="chevron"><% include ../partials/svg/chevron-left.ejs %></span>
              <span class="breadcrumb-name"><%- breadcrumbs.prev.name %></span>
            </a>
          </li>
          <li class="breadcrumb-item breadcrumb-item--last">
            <a href="<%- breadcrumbs.next.url %>">
              <span class="breadcrumb-name"><%- breadcrumbs.next.name %></span>
              <span class="chevron"><% include ../partials/svg/chevron-right.ejs %></span>
            </a>
          </li>
        </ol>
    <% } %>
    <% include ../partials/banner.ejs %>
    <% include ../partials/footer.ejs %>
  </div>

</body>
</html>
