<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
  <% include ../partials/sidebar.ejs %>
  <div class="content-wrapper">
    <% include ../partials/header.ejs %>
    <% include ../partials/nav.ejs %>
    <% include ../partials/banner.ejs %>
    <% if (hasBreadcrumbs) { %>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<%- breadcrumbs.prev.url %>">&larr; <%- breadcrumbs.prev.name %></a></li>
            <li class="breadcrumb-item pull-right"><a href="<%- breadcrumbs.next.url %>"><%- breadcrumbs.next.name %> &rarr;</a></li>
        </ol>
    <% } %>

    <%- markdownContent %>

    <% if (hasBreadcrumbs) { %>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<%- breadcrumbs.prev.url %>">&larr; <%- breadcrumbs.prev.name %></a></li>
            <li class="breadcrumb-item pull-right"><a href="<%- breadcrumbs.next.url %>"><%- breadcrumbs.next.name %> &rarr;</a></li>
        </ol>
    <% } %>
  </div>

</body>
</html>
